.section,
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#section1,
#section2 h1 {
  padding-top: 900px;
}

#section3 {
  background-color: black;
}

.slide {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide h1 {
  padding-top: 900px;
}

#section1 {
  background-image: url("DSC01700.JPG");
}

#section2 {
  background-image: url("DSC01669.JPG");
}

#section3 #slide1 {
  background-image: url("DSC01692.JPG");
}
#section3 #slide2 {
  background-image: url("DSC01779.JPG");
}
#section3 #slide3 {
  background-image: url("DSC01833.JPG");
}
